params {
  mappings = null
  celltypes = null
  location = "irods"
  genome = null
  pons = null
  editing = null
  subset_bed = null
  mutations = null
  publish_celltype_bams = false
  max_nM = 0
  max_NH = 0
  min_MQ = 255
  n_trim = 0
  min_dp = 5
  min_cc = 5
  min_bq = 20
  max_dp = 8000
  min_af = 0
  min_ac = 0
  max_cell_types = 1
  out_dir = './'
}