// params
params {
  samplesheet = null
  celltypes = null
  location = "irods"
  modality = "GEX"
  genome = null
  pons = null
  editing = null
  bed = null
  subset_bed = null
  mutations = null
  publish_celltype_bams = false
  ignore_base_quality = false
  max_nM = null
  max_NH = null
  min_MQ = 255
  n_trim = 0
  min_dp = 5
  min_cc = 5
  min_bq = 20
  max_dp = 8000
  min_af = 0
  min_ac = 0
  max_cell_types = 1
  out_dir = './'
}

// environments
process.container = 'docker://vofford/scomatic:latest'
singularity.autoMounts = true
singularity.enabled = true
// process {
//     withName: "getSampleCelltypes|splitBams|mergeCelltypeBams|indexCelltypeBams|bamToTsv|mergeTsvs|callMutations|filterMutationsGex|filterMutationsAtac|callableSitesCellType|callableSitesCell|bamToGenotype" {
//       container = 'docker://vofford/scomatic:latest'
//     }
// }

// use nf-schema for param handling
plugins {
  id 'nf-schema@2.2.0'
}

// help message
validation {
  help {
    enabled = true
  }
}

// sanger hg38 profile
profiles {
  sanger_hg38 {
    includeConfig "config/sanger_hg38.config"
  }
}