params {
    genome = "/lustre/scratch126/cellgen/team205/kp9/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
    pons = "/lustre/scratch125/casm/team268im/at31/nf-scomatic/resources/PoN.scRNAseq.hg38.tsv"
    editing = "/lustre/scratch125/casm/team268im/at31/nf-scomatic/resources/AllEditingSites.hg38.txt"
    bed = "/lustre/scratch125/casm/team268im/at31/nf-scomatic/resources/UCSC.k100_umap.without.repeatmasker.bed"
}